.hidden {
  visibility: hidden;
}

#titleAndBtn {
  margin-top: 2%;
}

#activitygenLink {
  color: inherit;
  font-size: 1.2rem;
}

#link {
  color: inherit;
  text-decoration: underline;
}

#findActivityBtn {
  margin-bottom: 2.5%;
}

.card-content {
  margin-top: 5%;
  margin-bottom: 5%;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li 
{
  border: 0!important;
  box-shadow: none!important;
}

/* creating css loader */
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #006064;
  border-top: 6px solid #1de9b6;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}