/*Decide on root color scheme*/ 
:root {
  --dark: #a0a0a0;
  --light: #fff;
  --accent: #b9c6ae;
  --other: #12ae33
}

body {
  height: 100%;
}

.inline {
  display: inline;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: start;
}

header a {
  color: inherit;
}

header a:hover{
  cursor: pointer;
  color: rgb(6, 73, 104);
}

#headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding:0 2%;
}

#btnhome:active{
  line-height : 25px;
}
