






















































.row {
  margin: 0px;
  padding: 0px;
}
.card-title {
  color: black;
}
.row {
  align-content: center;
}
.card {
  align-content: center;
}

.row div{
  height: 100px;
  padding: 0px !important;
}

#collage img{
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.card {
  text-align: center;
}

@media only screen and (min-width: 1500px){
  #collage img,
  .row div{
    height: 200px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px){
  #collage img,
  .row div{
    height: 150px;
  }
}

@media only screen and (max-width: 999px){
  .card-image img {
    height: 150px;
  }
}

@media only screen and (max-width: 600px){
  .hide-images{
    display: none;
  }
}


