body {
  height: 100%;
}

.inline {
  display: inline;
}

/* HEADER*/
header {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: start;
}

header a {
  color: inherit;
}

header a:hover{
  cursor: pointer;
  color: rgb(6, 73, 104);
}

#headerText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding:0 2%;
}

/*DESCRIPTION AND CARDS*/
#cards .card {
  text-align: center;
}

#cards .card-action h3 {
  font-size: 2.5rem !important;
}

#cards .card-action p {
  font-size: 1.5rem;
}

#cards a .card:hover {
    box-shadow: 0px 0px 10px 10px #1de9b6;
}

#description p:nth-child(2) {
  margin-bottom: 5%;
}

/* COLLAGE */
#collage .row {
  margin: 0px;
  padding: 0px;
}

#collage .row div{
  height: 100px;
  padding: 0px !important;
}

#collage img{
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* DELETION IN FAVORITES*/
.status-icon {
  padding: 2px 5px;
  background-color:  #1de9b6;
}

.status-icon:hover {
  background-color: red;
  cursor: pointer;
}

.icon-danger {
  color: black;
}

@media only screen and (min-width: 1500px){
  #collage img,
  #collage .row div{
    height: 200px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1499px){
  #collage img,
  #collage .row div{
    height: 150px;
  }
}

@media only screen and (max-width: 999px){
  #cards .card-image img {
    height: 150px;
  }
}

@media only screen and (max-width: 600px){
  .hide-images{
    display: none;
  }
}


